.pokemon-name1 {
    font-size: xx-large;
    color: black;
    margin-top: 1rem;

}
.pokemon-name1 > span {
  letter-spacing: .25rem;
}
.pokemon-type{
    display: flex;
    margin-top: 2rem;
    gap: 3rem;
    font-size: large;
}
.pokemon-type div{
    border: 1px solid gainsboro;
    border-radius: 15px;
    padding: 1rem;
    background-color: gainsboro;
}



